@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth text-[62.5%];
}

body::-webkit-scrollbar {
  @apply w-[6px];
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  @apply bg-slate-50;
}

input,
select,
option {
  @apply max-w-full w-full outline-none p-5 bg-transparent;
}

img {
  @apply max-w-full w-full h-full object-cover;
}

section #heading {
  @apply font-bold text-[30px];
}

section {
  @apply relative ml-[10%] mr-[5%] mt-20;
}

#login-form .input-container,
#register-form .input-container {
  @apply flex flex-col mb-8;
}

#login-form label,
#register-form label {
  @apply text-[13px] font-semibold mb-2;
}

#login-form input,
#register-form input {
  @apply text-[12px];
}

#create-quiz-form #input-container,
#edit-quiz-form #input-container {
  @apply flex justify-start items-center py-3 gap-3;
}

#create-quiz-form #input-container label,
#edit-quiz-form #input-container label {
  @apply flex justify-center items-center rounded-xl py-4 px-6 border-[1px] border-darkTheme-gray text-[12px];
}

#create-quiz-form #input-container input,
#edit-quiz-form #input-container input {
  @apply p-4 border-[1px] border-darkTheme-gray rounded-xl text-[11px];
}

#create-quiz-form #input-container select,
#edit-quiz-form #input-container select {
  @apply border-[1px] border-darkTheme-gray rounded-xl text-[11px];
}

#create-quiz-form #input-container select option,
#edit-quiz-form #input-container select option {
  @apply text-black;
}

/* Loader */
.loader {
  width: 48px;
  height: 48px;
  margin: auto;
  position: relative;
}

.loader:before {
  content: '';
  width: 48px;
  height: 5px;
  background: #f0808050;
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 50%;
  animation: shadow324 0.5s linear infinite;
}

.loader:after {
  content: '';
  width: 100%;
  height: 100%;
  background: #f08080;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  animation: jump7456 0.5s linear infinite;
}

@keyframes jump7456 {
  15% {
    border-bottom-right-radius: 3px;
  }

  25% {
    transform: translateY(9px) rotate(22.5deg);
  }

  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }

  75% {
    transform: translateY(9px) rotate(67.5deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow324 {
  0%,
  100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1);
  }
}
